
@{
    ViewBag.Title = "Create";
}

<h2>Create New Group</h2>
<form action="" method="post">
    <div>
        <label for="GroupName">Group Name : </label>
        <input type="text" name="GroupName" value="" />
    </div>
    <input type="submit"  value="Create" />
</form>
