
@{
    ViewBag.Title = "Create";
}

<h2>Create a New Group</h2>

<form action="CreateGroup" method="post">
    <label for="GroupName">Name: </label>
    <input type="text" name="GroupName" value="" />
    <input type="submit" name="submit" value="Create" />
</form>

