@model IEnumerable<PassionProject_chatMessenger.Models.Message>
@{
    ViewBag.Title = "List";
}

<h2>Messages</h2>

@foreach (var message in Model)
{
    <h2> <a href="/Message/Details/@message.MessageId">@message.content</a> </h2>
}